
# Игнорируем временные файлы
*.tmp
*.swp
*.bak

# Игнорируем файлы с конфиденциальной информацией
secrets/

# Игнорируем локальные настройки и кэши
.local/
.cache/
.vscode/

# Игнорируем логи и вывод
logs/
output/

# Игнорируем файлы и директории зависимостей
node_modules/
vendor/



*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
.git/
.sass-cache
.vagrant/
__pycache__
dist
docs
env
logs
src/{{ project_name }}/settings/local.py
src/node_modules
web/media
web/static/CACHE
stats
Dockerfile
